<div class="jumbotron">
  <div class="container">
    <h1>ESS!  <small>Simple google search</small></h1>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" placeholder="Site Adress" class="form-control" data-ng-model="$ctrl.searchParams.site">
      </div>
      <div class="form-group">
        <input type="search" placeholder="Keywords" class="form-control" data-ng-model="$ctrl.searchParams.keywords">
      </div>
      <button class="btn btn-success" data-ng-click="$ctrl.searchGo($ctrl.searchParams)">Search</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" data-ng-repeat="result in $ctrl.results">
      <h2>{{result.title}}</h2>
      <p>{{result.snippet}}</p>
      <p><a class="btn btn-default" href="{{result.link}}" target="_blank" role="button">Go to site &raquo;</a></p>
    </div>
    <h2 data-ng-show="!$ctrl.results && $ctrl.results !== ''">No results!</h2>
  </div>
</div>
